sec_op.json
{
  "name": "sec_op",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {}
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -1936,
        -464
      ],
      "id": "a73c9c1e-c21c-4a61-8b15-6d04ef07820c",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "9ceeb907-5346-40a9-80fc-cce9c8c81177",
              "leftValue": "={{ $json.owner.repos_url }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "exists",
                "singleValue": true
              }
            },
            {
              "id": "859c4132-4bd0-4ff9-bdb4-e8c1d3c3886f",
              "leftValue": "={{ $json.private }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "false",
                "singleValue": true
              }
            },
            {
              "id": "5d45cc79-2fdb-478e-ba1d-48ca167bceab",
              "leftValue": "={{ $json.archived }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "false",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.3,
      "position": [
        -1568,
        -400
      ],
      "id": "8138d24d-047c-4401-a56b-9c3d43f7ab50",
      "name": "Filter"
    },
    {
      "parameters": {
        "operation": "upload",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.awsS3",
      "typeVersion": 2,
      "position": [
        -544,
        -576
      ],
      "id": "a17ebea8-7408-4846-adc7-8cb710d56ee4",
      "name": "Upload a file"
    },
    {
      "parameters": {
        "sendTo": "analystbami30@gmail.com",
        "subject": "Error in workflow",
        "emailType": "text",
        "message": "Error detected in workflow",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        -544,
        -272
      ],
      "id": "25235921-7881-47fd-943e-3f0653c8ead5",
      "name": "Send a message",
      "webhookId": "40f29c5d-2d6e-49f9-aca5-b2a86c7e7933",
      "credentials": {
        "gmailOAuth2": {
          "id": "CBss6FnQvmLC7eKk",
          "name": "Gmail account 2"
        }
      }
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "user",
        "owner": {
          "__rl": true,
          "value": "={{ $vars.gituser_name }}",
          "mode": "url"
        },
        "returnAll": true
      },
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [
        -1728,
        -432
      ],
      "id": "5fe1b80e-d8bb-4467-a35a-b595a9f9d3ac",
      "name": "Discover repo",
      "webhookId": "599e9336-7065-4200-9748-81c35d3fe14d",
      "credentials": {
        "githubOAuth2Api": {
          "id": "3cL7RmQYMwEfr2pr",
          "name": "GitHub account 2"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "be7eb9d1-eb12-4bae-be4c-9e639f311bb7",
              "leftValue": "={{$json}}",
              "rightValue": "=",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -752,
        -400
      ],
      "id": "fc64b8b2-6f24-485e-8540-6011ec335f3a",
      "name": "validate"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        -1104,
        -368
      ],
      "id": "20c58c91-4cd6-463e-bafe-1f668b1a038e",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -1360,
        -400
      ],
      "id": "5af5c845-b309-4f6f-88a8-219e51ae8269",
      "name": "Loop Over Items"
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Discover repo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Discover repo": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "validate": {
      "main": [
        [
          {
            "node": "Upload a file",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respond to Webhook": {
      "main": [
        []
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          },
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "4642b40f-230f-4589-adbc-6689f492c8c4",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "e0247349f902c5b1f99512a829b81b1ce8e5fe404d3981c1607e073f648457f2"
  },
  "id": "OxkluxvtexeDCBif4H6DA",
  "tags": []
}