telegram_agent_workflow.json
{
  "name": "Telegram AI Agent - Web Search, Calendar & Email",
  "nodes": [
    {
      "parameters": {
        "updates": ["message"],
        "additionalFields": {}
      },
      "id": "a1b2c3d4-0001-0001-0001-000000000001",
      "name": "Telegram Trigger",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.1,
      "position": [240, 300],
      "webhookId": "telegram-agent-webhook",
      "credentials": {
        "telegramApi": {
          "id": "TELEGRAM_CRED_ID",
          "name": "Telegram Bot"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "assign-chatid",
              "name": "chatId",
              "value": "={{ $json.message.chat.id }}",
              "type": "string"
            },
            {
              "id": "assign-text",
              "name": "userMessage",
              "value": "={{ $json.message.text }}",
              "type": "string"
            },
            {
              "id": "assign-username",
              "name": "username",
              "value": "={{ $json.message.from.first_name }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "a1b2c3d4-0002-0002-0002-000000000002",
      "name": "Extract Message Data",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [460, 300]
    },
    {
      "parameters": {
        "model": "gpt-4o",
        "options": {
          "systemMessage": "You are a helpful personal assistant available via Telegram. You have access to the following tools:\n\n1. **web_search** - Search the web for current information, news, weather, etc.\n2. **create_calendar_event** - Create Google Calendar events. Ask for: title, date/time, duration, and optionally description/location.\n3. **search_emails** - Search Gmail for emails. Ask for: search query (sender, subject, keywords, date range).\n\nAlways be concise since this is a chat interface. When creating calendar events, confirm the details before creating. When searching emails, summarize results clearly.\n\nIf the user greets you, introduce yourself and explain your capabilities.\n\nFormat dates as: YYYY-MM-DDTHH:MM:SS for calendar events.\nTimezone: Use the user's local timezone if mentioned, otherwise UTC."
        }
      },
      "id": "a1b2c3d4-0003-0003-0003-000000000003",
      "name": "AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [680, 300]
    },
    {
      "parameters": {
        "model": "gpt-4o",
        "options": {}
      },
      "id": "a1b2c3d4-0004-0004-0004-000000000004",
      "name": "OpenAI Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.1,
      "position": [580, 520],
      "credentials": {
        "openAiApi": {
          "id": "OPENAI_CRED_ID",
          "name": "OpenAI API"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Extract Message Data').item.json.chatId }}",
        "contextWindowLength": 20
      },
      "id": "a1b2c3d4-0005-0005-0005-000000000005",
      "name": "Window Buffer Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [780, 520]
    },
    {
      "parameters": {
        "toolDescription": "Search the web for current information. Use this for news, facts, weather, prices, or any real-time information.",
        "method": "GET",
        "url": "https://serpapi.com/search",
        "authentication": "genericCredentialType",
        "genericAuthType": "queryAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "q",
              "value": "{query}"
            },
            {
              "name": "num",
              "value": "5"
            },
            {
              "name": "engine",
              "value": "google"
            }
          ]
        },
        "placeholderDefinitions": {
          "values": [
            {
              "name": "query",
              "description": "The search query string",
              "type": "string"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "a1b2c3d4-0006-0006-0006-000000000006",
      "name": "Web Search Tool",
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1.1,
      "position": [580, 680],
      "credentials": {
        "queryAuth": {
          "id": "SERPAPI_CRED_ID",
          "name": "SerpAPI Key"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Create a Google Calendar event. Provide title, startDateTime (ISO format YYYY-MM-DDTHH:MM:SS), endDateTime (ISO format), and optionally description and location.",
        "calendar": {
          "__rl": true,
          "value": "primary",
          "mode": "list",
          "cachedResultName": "primary"
        },
        "start": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('startDateTime', 'Event start date and time in ISO format', 'string') }}",
        "end": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('endDateTime', 'Event end date and time in ISO format', 'string') }}",
        "additionalFields": {
          "summary": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('title', 'Title of the calendar event', 'string') }}",
          "description": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('description', 'Optional description of the event', 'string') }}",
          "location": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('location', 'Optional location of the event', 'string') }}"
        }
      },
      "id": "a1b2c3d4-0007-0007-0007-000000000007",
      "name": "Create Calendar Event Tool",
      "type": "@n8n/n8n-nodes-langchain.toolGoogleCalendar",
      "typeVersion": 1.1,
      "position": [780, 680],
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "GOOGLE_CALENDAR_CRED_ID",
          "name": "Google Calendar"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Search Gmail emails. Use a search query like: from:someone@email.com, subject:keyword, after:2024/01/01, is:unread, or combine multiple terms. Returns matching emails with sender, subject, date, and snippet.",
        "operation": "getAll",
        "returnAll": false,
        "limit": 10,
        "filters": {
          "q": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('searchQuery', 'Gmail search query e.g. from:boss@company.com subject:report', 'string') }}"
        },
        "options": {
          "format": "metadata"
        }
      },
      "id": "a1b2c3d4-0008-0008-0008-000000000008",
      "name": "Search Emails Tool",
      "type": "@n8n/n8n-nodes-langchain.toolGmail",
      "typeVersion": 1,
      "position": [980, 680],
      "credentials": {
        "gmailOAuth2": {
          "id": "GMAIL_CRED_ID",
          "name": "Gmail OAuth2"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Extract Message Data').item.json.chatId }}",
        "text": "={{ $json.output }}",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "id": "a1b2c3d4-0009-0009-0009-000000000009",
      "name": "Send Telegram Reply",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [900, 300],
      "credentials": {
        "telegramApi": {
          "id": "TELEGRAM_CRED_ID",
          "name": "Telegram Bot"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Extract Message Data').item.json.chatId }}",
        "text": "⚠️ Sorry, I encountered an error processing your request. Please try again.",
        "additionalFields": {}
      },
      "id": "a1b2c3d4-0010-0010-0010-000000000010",
      "name": "Send Error Message",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [900, 480],
      "credentials": {
        "telegramApi": {
          "id": "TELEGRAM_CRED_ID",
          "name": "Telegram Bot"
        }
      }
    }
  ],
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Extract Message Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Message Data": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send Telegram Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Window Buffer Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Web Search Tool": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Create Calendar Event Tool": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Search Emails Tool": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": ""
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": false,
    "instanceId": "telegram-agent-v1"
  },
  "tags": ["telegram", "ai-agent", "gmail", "google-calendar", "web-search"]
}
